{
  "ecmaFeatures": {
    "jsx": false
  },
  "parser": "espree",
  "env": {
    "amd": false,
    "jasmine": false,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "extends": "plugin:react/recommended"
}
